<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Candidate Dashboard | EMS</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body class="admin-body">

  <div class="dashboard-container">
    
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="sidebar-logo-circle">
        <img src="udoso.png" alt="Logo" />
      </div>
      <h3>Vote Panel</h3>

      <nav class="sidebar-nav">
        <!-- <a href="candidatedashboard.html">Dashboard</a>
        <a href="myelections.html">My Elections</a>
        <a href="ballot.html">View Ballot</a>
        <a href="votinghistory.html">Voting History</a>
        <a href="help.html">Help & Support</a> -->
        <a href="login">Logout</a>
      </nav>
    </aside>

    <!-- Main Panel -->
    <main class="main-panel">
      <header class="dashboard-header">
        <h2>Welcome, Candidate</h2>
        <p>Your candidate ID: CND-2032</p>
      </header>

      <!-- Candidate Info Section -->
      <section class="summary-cards">
        <div class="card">
          Active Elections: <strong>Presidential 2025</strong>
        </div>
        <div class="card">
          Total Votes: <strong>1,500</strong>
        </div>
        <div class="card status-card">
          Status: <span class="status approved">Approved Candidate</span>
        </div>
      </section>
    </main>

  </div>

</body>
</html>
